/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
     margin:0 auto;
 }
 
 .slider img {
     width:100%;/*スライダー内の画像を横幅100%に*/
     height:auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
     margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
     margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }

 <style>
.swiper-container{
    max-height: 100vh;
    transition: height .6s cubic-bezier(.44, .13, .48, .87);
}
.swiper-slide{
    position: relative;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.slide-overlay::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(204,204,204,0.8);
}
.swiper-slide .slide-content{
    position: absolute;
    top: 50%;
    padding: 20px;
}
@media only screen and (max-width: 750px) {
    .swiper-slide .slide-content{
        padding: 0px;
    }
}
.swiper-slide .slide-content.center{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.swiper-slide .slide-content.left{
    left: 0%;
    transform: translateX(0%) translateY(-50%);
    text-align: left;
}
.swiper-slide .slide-content.right{
    right: 0%;
    transform: translateX(0%) translateY(-50%);
    text-align: right;
}
.swiper-slide .slide-content h2{
    color: #FFF !important;
    margin: 0px;
}
.swiper-slide .slide-content p{
    margin: 0px;
}
.slideshow--small {
  height: 175px; 
}
@media only screen and (min-width: 750px) {
    .slideshow--small{
      height: 475px; 
    } 
}
.slideshow--medium {
    height: 270px; 
}
@media only screen and (min-width: 750px) {
    .slideshow--medium{
      height: 650px; 
    }
}
.slideshow--large{
    height: 375px; 
}
@media only screen and (min-width: 750px) {
    .slideshow--large {
      height: 775px; 
    } 
}
.swiper-slide .slide-content h2.mega-title--large{
    font-size: 28px;
}
.swiper-slide .slide-content p.mega-desc--large{
    font-size: 22px;
}
@media only screen and (max-width: 750px) {
    .swiper-slide .slide-content h2{
        font-size: 30px;
    }
    .swiper-slide .slide-content p{
        font-size: 24px;
    }
    .swiper-slide .slide-content h2.mega-title--large{
        font-size: 28px;
    }
    .swiper-slide .slide-content p.mega-desc--large{
        font-size: 22px;
    }
}
.slideshow__btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 750px) {
    .slideshow__btn{
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
    }
 }

